@import "../../styles/variables";
@import "../../styles/mixins";

.pricing-container {
    margin-top: 4.5rem;
    padding: 3rem 1rem;
    // overview
    // overflow-x: hidden;

    .pricing-content-header {
        @include section-content-header;
    }

    @media screen and (max-width: 768px) {
        padding: 3rem 0;
    }

    .pricing-display {
        margin-top: 4.5rem;
        display: flex;
        flex-wrap: wrap;
        gap: 1.25rem;
        justify-content: center;

        @media screen and (max-width: 600px) {
            // transform: translateX(0vw);
            // scroll-snap-type: x mandatory;
            flex-direction: column;
        }

        @media screen and (max-width: 1200px) {
            gap: 1rem;
        }

    }
}