@import "../../styles/variables";
@import "../../styles/mixins";

.service-container {
    padding-top: 7.5rem;
    padding-bottom: 6rem;

    .service-content-header {
        @include section-content-header
    }



    .section-cards {
        margin-top: 4.5rem;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        gap: 20px;
        justify-content: center;
        padding: 0 5rem;

        @media screen and (max-width: 1200px) {
            padding: 0 2rem;
            gap: 1rem;
        }

        @media screen and (max-width: 1024px) {
            padding: 0 1rem;
            // gap: 1rem;
        }

        @media screen and (max-width: 600px) {
            padding: 0;
            // gap: 1rem;
        }

    }

}


// background: linear-gradient(0deg, #E6BB45, #E6BB45),
// linear-gradient(0deg, #CCCCCC, #CCCCCC),
// linear-gradient(180.36deg, #E9F2FB 41.81%, #0A2038 73.11%);