@import "../../styles/variables";
@import "../../styles/mixins";

.hero-container {
    background-image: url('/assets/bg-pattern.png');
    background-repeat: no-repeat;
    background-position: center -10%;
    background-size: 75% auto;
    // background-size: cover;
    min-height: 85vh;
    padding-top: 5rem;

    .hero-heading__text {

        h3 {
            font-size: 3.5rem;
            font-family: $primary_font_medium;
            font-weight: 500;
            color: #E9F2FB;
        }

        :nth-child(2) {
            background: linear-gradient(180.36deg, #E9F2FB 41.81%, #4d5f72 73.11%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        :nth-child(3) {
            color: $tertiary_color;
        }

    }

    .hero-paragraph__text {
        padding-top: 1rem;

        p {
            font-size: 1.125rem;
            font-family: $secondary_font_regular;
            line-height: 2rem;
            color: #CCCCCC;


        }
    }

    .hero-contact {
        padding-top: 2.5rem;
        display: flex;
        justify-content: space-between;

        // :first-child {
        //     flex: 1;
        // }

        .start-a-project {
            @include schedule-btn;
            background: $tertiary_color;
            margin-left: 0;
            color: #0B2541;
            font-size: 17px;
            line-height: 21.67px;
            padding: 10px 16px;
            cursor: pointer;

            img {
                width: 12px;
                height: auto;
                transform: translateY(2px);
                margin-left: 3px;
            }

        }

        .schedule-a-call {
            @include schedule-btn;
            cursor: pointer;
            margin-left: 20px;
            padding: 10px 16px;
        }

        .hero-testimony-section {
            display: flex;
            flex-basis: 40%;
            gap: 1rem;

            img {
                width: 3.5rem;
                height: 3.5rem;
                border: 1px solid #164B84;
                aspect-ratio: 1;
                object-fit: cover;
                object-position: 100% 0%;
                border-radius: 50%;
            }

            .hero-testimony-info {
                display: flex;
                flex-flow: column wrap;
                gap: 0.75rem;

                :first-child {
                    font-size: 0.875rem;
                    line-height: 1.2rem;
                    color: #B3B3B3;
                }

                :last-child {
                    color: #E6E6E6;
                    font-family: $secondary_font_regular;
                    font-size: 1rem;
                    line-height: 1.5rem;
                }
            }
        }

    }

    .hero-video {
        width: 100%;
        padding-top: 5rem;

        video {
            width: 100%;
            height: auto;
            object-fit: cover;
            border-radius: 12px;
            aspect-ratio: 15/8;
        }
    }
}