$primary_font_regular: 'Ranade-Regular';
$primary_font_medium: 'Ranade-Medium';
$secondary_font_regular: 'Onest-Regular';
$secondary_font_medium: 'Onest-Medium';
$secondary_color_bold: 'Onest-Bold';
$primary_color: #020509;
$secondary_color: #060A0F;
$tertiary_color: #E5BB45;
$tertiary_color_tint: #BED8F4;
$tertiary_dark_color: #141310;
$satoshi: 'satoshi';