@import "../../styles/variables";
@import "../../styles/mixins";

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;




    .logo-wrapper {
        display: flex;
        width: fit-content;
        align-items: center;
        gap: 0.5rem;
        padding: 0 6px;
        border: 1px solid #030B13;
        border-radius: 0.88rem;
        background: #030B13;



        img {
            width: 1.5rem;
            height: auto;
        }

        span {
            font-family: $secondary_font_medium;
            font-size: 1.125rem;
            color: $tertiary_color_tint;

        }

        // @media screen and (max-width: 1024px) {

        //     img {
        //         width: 1.1rem;
        //     }

        //     span {
        //         font-size: 0.9rem;
        //     }
        // }
    }

    nav {
        display: flex;
        align-items: center;
        gap: 1.5rem;

        a {
            line-height: 1.4rem;
            font-size: 1rem;
            color: #999999;
            text-decoration: none;

            :active,
            :focus,
            :visited {
                color: #999999;
            }


        }

        .schedule-btn {
            @include schedule-btn;
            margin-left: 3.5rem;

            @media screen and (max-width: 1024px) {
                margin-left: 1rem;
            }
        }

        @media screen and (max-width: 1024px) {
            gap: 1rem;

            .lg-screen-display {
                display: none;
            }
        }

        @media screen and (max-width: 600px) {
            .nav-menu-item {
                display: none;
            }

        }

    }
}