@import "../../styles/variables";
@import "../../styles/mixins";

.benefit-container {
    padding-top: 3rem;
    padding-bottom: 6rem;

    .benefit-content-header {
        @include section-content-header;

    }

    .benefit-cards {
        width: 100%;
        margin-top: 4rem;
        display: flex;
        flex-flow: row wrap;
        gap: 1.5rem;
        padding: 0 4rem;

        // width: 40px;


        @media screen and (max-width: 1200px) {
            gap: 1rem;
        }

        @media screen and (max-width: 1024px) {
            padding: 0 2rem;
        }

        @media screen and (max-width: 900px) {

            flex-direction: column;
            align-items: center;
            margin-top: 3rem;

            article {
                width: 70%;
            }

            // padding: 0 4rem;

            // article {
            //     flex: 1;
            // }
        }

        @media screen and (max-width: 600px) {
            article {
                width: 100% !important;
            }

            padding: 0 1rem;
        }

        article.fast-time-card {
            padding: 24px 20px 16px 20px;
            display: flex;
            flex-direction: column;
            gap: 2rem;
            border-radius: 16px;
            border: 0.5px solid #15191F;
            flex-basis: 31.58%;
            overflow: hidden;

            background: linear-gradient(0deg, $secondary_color, $secondary_color),
                linear-gradient(180deg, #15191F 0%, #070F17 100%);

            h4 {
                font-family: $primary_font_regular;
                font-weight: 400;
                font-size: 1.25rem;
                line-height: 1.71rem;
                color: #F5F5F5;
            }

            p {
                font-family: $secondary_font_regular;
                font-weight: 400;
                font-size: 0.9rem;
                line-height: 2rem;
                color: #A2A6AB;
                letter-spacing: 0.24px;
                margin-top: 0.5rem;
            }

            .time-wrapper {
                padding: 24px 20px;
                display: flex;
                justify-content: space-between;
                border-radius: 1rem;
                background: linear-gradient(0deg, #020509, #020509),
                    linear-gradient(0deg, #061525, #061525);
                position: relative;

                .blur-circle {
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 100px;
                    height: 100px;
                    z-index: 3;
                    background-color: $tertiary_color;
                    filter: blur(150px);
                }

                div {


                    h5 {
                        font-size: 2rem;
                        margin-bottom: 12px;
                        font-family: $satoshi;
                        font-weight: 500;

                    }

                    span {
                        font-size: 1.25rem;
                        text-decoration: line-through;
                        color: #B3B3B3;
                        font-family: $satoshi;
                        font-weight: 500;
                    }

                    @media screen and (max-width: 1000px) {
                        h5 {
                            font-size: 1.3rem;

                        }

                        span {
                            font-size: 0.9rem;
                        }
                    }

                    @media screen and (max-width: 600px) {
                        h5 {
                            font-size: 2rem;
                        }

                        span {
                            font-size: 1.25rem;
                        }
                    }
                }

                img {
                    width: 83.2px;
                    height: auto;

                    @media screen and (max-width: 1000px) {
                        width: 60px;
                    }

                    @media screen and (max-width: 600px) {
                        width: 80px;
                    }

                    // aspect-ratio: 1/1;
                }

            }
        }

        article.responsive-dev {
            border-radius: 16px;
            border: 0.5px solid #15191F;
            background: $secondary_color;
            padding-top: 24px;
            padding-left: 20px;
            display: flex;
            // gap: 30px;
            overflow: hidden;
            flex: 1;
            min-width: 60%;
            position: relative;



            @media screen and (max-width: 600px) {
                flex-direction: column;
                padding-right: 20px;
            }

            .blur-circle-2 {
                position: absolute;
                right: 0;
                bottom: 0;
                width: 200px;
                height: 200px;
                background-color: $tertiary_color;

                border-radius: 50%;
                filter: blur(350px);
            }

            .responsive-dev-content {
                h4 {
                    font-family: $primary_font_regular;
                    font-size: 1.25rem;
                    font-weight: 400;
                    color: #F5F5F5;
                }

                p {
                    font-family: $secondary_font_regular;
                    font-size: 0.9rem;
                    font-weight: 400;
                    line-height: 2rem;
                    letter-spacing: 0.24px;
                    color: #A2A6AB;
                    margin-top: 0.5rem;
                }
            }

            img {
                width: 27.2rem;
                height: auto;
                border-radius: 0.6rem;
                transform: translate(1.88rem, 2.2rem);
            }
        }

        article.loading-time {
            flex-basis: 31.58%;
            position: relative;
            background: linear-gradient(0deg, $secondary_color, $secondary_color),
                linear-gradient(0deg, #15191F, #15191F);

            border: 0.5px solid #15191F;
            // min-height: 22rem;
            border-radius: 1rem;
            padding: 0 1.23rem;
            padding-bottom: 1rem;

            overflow: hidden;

            &>img {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                top: 0;
                z-index: 0;
            }

            .lt-upper-rect {
                @include upper-rect;
                transform: translateY(-12%);
            }

            .lt-metrics {
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                z-index: 1;
                gap: 0.75rem;

                margin-top: 1rem;

                div {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 0.3rem;

                    img {
                        width: 4rem;
                        height: auto;
                        aspect-ratio: 1;

                        @media screen and (max-width: 1000px) {
                            width: 3rem;
                        }

                        @media screen and (max-width: 600px) {
                            width: 4rem;
                        }
                    }

                    span {
                        color: #B3B3B3;
                        font-family: $satoshi;
                        font-size: 0.8rem;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        letter-spacing: 0.07px;

                        @media screen and (max-width: 1000px) {
                            font-size: 0.7rem;
                        }

                        @media screen and (max-width: 600px) {
                            font-size: 0.8rem;
                        }
                    }
                }
            }

            .lt-content {
                margin-top: 2rem;
                position: relative;
                z-index: 1;

                h2 {
                    color: #F5F5F5;
                    font-family: $primary_font_regular;
                    font-size: 1.25rem;
                    font-weight: 400;
                }

                p {
                    color: #A2A6AB;
                    font-family: $secondary_font_regular;
                    font-size: 0.9rem;
                    font-weight: 400;
                    line-height: 2rem;
                    letter-spacing: 0.24px;
                }
            }

        }

        article.revisions {
            padding: 1.5rem 1.25rem;
            flex-basis: 31.58%;
            border-radius: 1rem;
            border: 0.5px solid #15191F;
            background: linear-gradient(0deg, $secondary_color, $secondary_color),
                linear-gradient(0deg, #15191F, #15191F);
            position: relative;
            overflow: hidden;

            &>img {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                top: 0;
                z-index: 0;
            }

            .blur-circle-3 {
                position: absolute;
                height: 100px;
                width: 100px;
                border-radius: 50%;
                background-color: #E5BB45;
                left: 17px;
                bottom: -54px;
                filter: blur(100px);
                z-index: 2;
            }

            h2 {
                position: relative;
                color: #F5F5F5;
                font-family: $primary_font_regular;
                font-size: 1.25rem;
                font-weight: 400;
                z-index: 1;
            }

            p {
                position: relative;
                color: #A2A6AB;
                font-family: $secondary_font_regular;
                font-size: 0.9rem;
                font-weight: 400;
                line-height: 2rem;
                /* 200% */
                letter-spacing: 0.24px;
                z-index: 1;
            }

            .rev-publish-card {
                position: relative;
                z-index: 1;
                height: 11.6rem;
                border-radius: 1rem;
                border: 1px solid #061525;
                background: linear-gradient(0deg, #020509, #020509),
                    linear-gradient(0deg, #061525, #061525);
                padding: 0.25rem;
                transform: translateY(3rem);

                &>div {
                    border-radius: 0.5rem;
                    background: #111418;
                    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
                    height: 2rem;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;

                    span {
                        display: inline-block;
                        padding: 4px 8px;
                        color: #808080;
                        font-family: $secondary_font_regular;
                        font-size: 0.7rem;
                        font-weight: 400;
                        letter-spacing: 0.14px;
                        border-radius: 1rem;
                        border: 0.5px solid #151A1F;
                        background: #010305;
                        margin-right: 1rem;
                    }
                }

                &>span {
                    display: inline-block;
                    position: absolute;
                    top: 6.9rem;
                    left: 1.8rem;
                    padding: 4px 10px;
                    border-radius: 8px;
                    border: 0.5px solid #164B84;
                    background: #E5BB45;
                    color: #1A1A1A;
                    text-align: center;
                    font-family: $satoshi;
                    font-size: 1rem;
                    font-weight: 500;
                    letter-spacing: 0.2px;
                }

                &>img {
                    position: absolute;
                    top: 6rem;
                    left: 5.4rem;
                    width: 1.4rem;
                    height: auto;
                    aspect-ratio: 1;
                }
            }
        }

        article.price-tags {
            padding: 1.5rem 1.25rem;
            flex-basis: 31.58%;
            border-radius: 1rem;
            border: 0.5px solid #15191F;
            background: linear-gradient(0deg, $secondary_color, $secondary_color),
                linear-gradient(0deg, #15191F, #15191F);
            position: relative;
            overflow: hidden;

            .blur-circle-4 {
                position: absolute;
                height: 100px;
                width: 100px;
                background-color: #E5BB45;
                filter: blur(100px);
                left: 50%;
                bottom: 0;
                transform: translateX(-50%);
            }

            h2 {
                position: relative;
                color: #F5F5F5;
                font-family: $primary_font_regular;
                font-size: 1.25rem;
                font-weight: 400;
                z-index: 1;
            }

            p {
                position: relative;
                color: #A2A6AB;
                font-family: $secondary_font_regular;
                font-size: 0.9rem;
                font-weight: 400;
                line-height: 2rem;
                /* 200% */
                letter-spacing: 0.24px;
                z-index: 1;
            }

            &>div {
                margin-top: -2rem;
                padding: 1rem 1.25rem;
                border-radius: 16px;
                border: 0.5px solid #061525;
                background: #020509;
                position: relative;
                z-index: 1;
                height: 11.6rem;
                transform: translateY(3.2rem);

                // height: 200px;
                .pt-upper-rect {
                    @include upper-rect;
                    justify-content: flex-start;
                }

                .pt-price-content {
                    margin-top: 2rem;

                    .pt-starting-from {
                        display: flex;
                        padding: 4px 12px;
                        align-items: center;
                        gap: 4px;
                        border-radius: 16px;
                        border: 0.5px solid #151A1F;
                        background: #010305;
                        width: fit-content;

                        span {
                            color: #B3B3B3;
                            font-family: $secondary_font_regular;
                            font-size: 0.7rem;
                            font-weight: 400;
                            letter-spacing: 0.14px;
                        }

                        img {
                            width: 0.8rem;
                            height: auto;

                        }
                    }

                    .pt-price {
                        margin-top: 1rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: fit-content;
                        gap: 0.75rem;

                        :first-child {
                            color: #E5BB45;
                            font-family: $aeonik_regular;
                            font-size: 2rem;
                            font-style: normal;
                            font-weight: 400;
                        }

                        :last-child {
                            color: #808080;
                            font-family: $aeonik_regular;
                            font-size: 1rem;
                            font-weight: 400;
                            letter-spacing: 0.08px;
                            text-decoration: line-through;
                        }
                    }
                }
            }
        }

    }
}